:root {
  --primary-color: repeating-linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
  --secondary-color: #F2ECEC;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  --hover-effect: underline;
}
html {
    min-height: 100%;
}
body {
 font-family: 'Abel', sans-serif;
}
h1,
h2 {
  font-family: 'Patrick Hand', cursive;
}
h1 {
    font-size: 100px;
}
h2 {
    font-size: 60px;
}
.hero {
    text-align: center;
    background: var(--primary-color);
    padding: 80px;
}
 .heading-name {
     text-align: center;
 }
 .project-title {
     margin-bottom: 100px;
     font-size: 60px;
     overflow: hidden;
     display: inline-block;
     height: 60px;
     margin-top: 45px;
 }
 .project-title span {
            animation: move 6s ease-in-out forwards infinite;
            position: relative;
        }

        @keyframes move {
            0%,
            100% {
                top: 0px;
            }
         25% {
                top: -60px;
            }
            65% {
                top: -115px;
            }
            95% {
                top: -170px;
            }
        }

 .btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  border-color: black;
}
.btn-branding:hover {
    background-color: var(--primary-color);
    color: black;
    border-color: black;
    text-decoration: var(--hover-effect);
}
.hover-burger:hover {
    text-decoration: var(--hover-effect);
}
@media (max-width: 560px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }
}
.images {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    cursor: default;
}