:root {
  --primary-color: repeating-linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
  --secondary-color: #F2ECEC;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}
html {
    min-height: 100%;
}
body {
 font-family: 'Abel', sans-serif;
}
.hero {
    text-align: center;
    background: var(--primary-color);
    padding: 80px;
}
h1,
h2 {
  font-family: 'Patrick Hand', cursive;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
.contact-button {
    border-radius: 4px;
    padding: 10px 5px;
    box-shadow: var(--box-shadow);
    background: var(--secondary-color);
    color: black;
}